<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>

            <ion-nav-link router-direction="forward" [component]="component">
                <ion-button>Navigate</ion-button>
            </ion-nav-link>
            <!-- <ion-button class="example-full-width" [routerLink]="['/add-bus']">Add Bus</ion-button> -->
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-nav-link router-direction="forward" [component]="component">
                <ion-button class="example-full-width">Add-Bus</ion-button>
            </ion-nav-link>
        </ion-toolbar>
    </ion-header>

    <div>

        <!-- <ion-button fill="outline" (click)="Source('Jamner')">From</ion-button>
        <ion-button fill="outline" (click)="Destination('Tondapur')">To</ion-button> -->
        <ion-grid>
            <ion-row>
                <ion-col size-sm="5" size-xs="5">
                    <mat-form-field class="example-full-width">
                        <mat-label>From</mat-label>
                        <input type="text" placeholder="Pick one" [(ngModel)]="sourceName" aria-label="From" matInput [formControl]="sourceControl" [matAutocomplete]="source">
                        <mat-autocomplete #source="matAutocomplete">
                            <mat-option *ngFor="let option of filteredSoruceOptions | async" [value]="option">
                                {{option}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </ion-col>
                <ion-col size-sm="5" size-xs="5">
                    <mat-form-field class="example-full-width">
                        <mat-label>To</mat-label>
                        <input type="text" placeholder="Pick one" [(ngModel)]="destinationName" aria-label="To" matInput [formControl]="destinationControl" [matAutocomplete]="destination">
                        <mat-autocomplete #destination="matAutocomplete">
                            <mat-option *ngFor="let option of filteredDestinationOptions | async" [value]="option">
                                {{option}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </ion-col>
                <ion-col size-sm="2" size-xs="2">
                    <ion-button class="example-full-width" (click)="Search()">GO</ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <div>
        <marquee behavior="scroll" direction="left">
            <img src="/assets/icon/left-direction-bus.png" width="120" height="80" alt="Natural" /> Click on bus route
            to see all stops
        </marquee>
        <accordion [isAnimated]="true">
            <accordion-group *ngFor="let item of searchedBussess; let i = index" [isOpen]="i===0">

                <button class="btn btn-link btn-block justify-content-between d-flex w-100  shadow-none" accordion-heading type="button">
                    <div class="pull-left float-left" style="font-size: 16px;">
                        <p> <img src="/assets/icon/msrtc-down-bus.png" style="width: 35px;" alt="Natural" />
                            {{item.source}}-{{item.destination}} <span *ngIf="item.via">({{item.via}})</span><span class="badge badge-danger bg-black">{{item.busTime}}</span>
                            <span *ngFor="let day of item?.weekDays">{{day?.abbr}},</span>
                        </p>
                    </div>
                </button>

                <table class="table table-striped table-dark">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Time</th>
                            <th scope="col">Stop</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let bus of item.stops; let i = index" [attr.data-index]="i">
                            <th scope="row">{{i+1}}</th>
                            <td>{{bus.time}}</td>
                            <td>{{bus.stop}}</td>

                        </tr>
                    </tbody>
                </table>

            </accordion-group>
        </accordion>
        <h1 *ngIf="isServerDown" class="text-center">Server Down</h1>
        <div class="text-center" *ngIf="searchedBussess.length == 0 && isSearchedBusRoute">No Bus Found </div>
    </div>

</ion-content>